location                     = "eastus"
tfstate_storage_account_name = "tfsampletfstate01" # Max 24 characters, must be globally unique
terraform_principal_id       = "00000000-0000-0000-0000-000000000000"
